
.app { align-items: stretch; }

.column { display: flex; flex-direction: column; }
.row    { display: flex; flex-direction: row;    }

.col-top      { align-items: flex-start; }
.col-bottom   { align-items: flex-end;   }
.col-center   { align-items: center;     }
.col-stretch  { align-items: stretch;    }
.col-baseline { align-items: baseline;   }

.row-left          { justify-content: flex-start;    }
.row-right         { justify-content: flex-end;      }
.row-center        { justify-content: center;        }
.row-stretch       { justify-content: stretch;       }
.row-space-between { justify-content: space-between; }

.gray       { background-color: #aaa;  }
.gray-light { background-color: #eee6; }
